/* ------------- СТИЛИ ТАБОВ (НАЧАЛО) ------------- */
.c-tabs-nav {
  height: 52px;
  display: block;
  list-style: none;
  margin: 0;
  padding: 21px 0 0 0;
  @include phone-md {
    padding-top: 35px;
  }
}

// для смены фона таба "Показать на карте" при переключении табов
.bg-show {
  background: url('../img/bg-map.png') no-repeat;
  background-position-x: 100%;
  background-position-y: 110%;
}
.bg-hide {
  background: none;
}


.c-tabs-nav__link {
  margin-right: 4px;
  padding: 8px 12px 0px 21px;
  color: $main;
  text-align: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
  @include phone-md {
    font-size: 13px;
  }
}
.c-tabs-nav__link:last-child {
  margin-right: 0;
}
.c-tabs-nav__link:hover {
  color: #6d6d6d;
}
.c-tabs-nav__link.is-active {
  padding: 5px 12px 0 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top: 2px solid $grey-dark;
  border-right: 2px solid $grey-dark;
  border-left: 2px solid $grey-dark;
  text-decoration: none;
  background-color: $white;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: $orange;
  @include phone-md {
    font-size: 13px;
  }
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}
.c-tabs-nav__link i {
  font-size: 18px;
}
.c-tabs-nav__link span {
  display: none;
  font-size: 18px;
}
@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}
/** Tab */
.c-tab {
  display: none;
}
.c-tab.is-active {
  display: block;
}
.c-tab__content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/** Tabs no-js fallback */
.c-tabs.no-js .c-tabs-nav {
  display: none;
}
.c-tabs.no-js .c-tab {
  display: block;
  margin-bottom: 1.5rem;
}
.c-tabs.no-js .c-tab:last-child {
  margin-bottom: 0;
}
/* ------------- СТИЛИ ТАБОВ (КОНЕЦ) ------------- */