$black: #000;
$white: #fff;
$title: #2F6F70;
$nav-icon: #3D5CA8;
$tags-icon: #A8B6B6;
$tab-title-active: #FDC87A;
$tab-title: #144090;

//new
$main: #00398B;
$main-two: #FEA002;

$main-three: #003789;
$light: #686868;
$bg: #E0E9E6;
$bg-dark: #003789;
$bright: #6CF223;
$text-secondary: #474747;
$orange: #FFAB1F;
$grey: #7E7E7E;
$badge-yellow: #EDD205;
$bg-light: #B3D6D3;

$link: #8ABA8E;
$warranty: #003d69;
$main-dark: #113261;
$main-light: #133665;
$grey-dark: #979797;
$red: #d70101;
$grey-slick-btns: #7b7b7b;
$grey-light: #bdbdbd;
$blue-dark: #15325e;
$orange-dark: #e7ad35;
$yellow: #e7d635;
$bg-warranty: #ededed;
$green-dark: #6ab94c;
$grey-md: #565656;

$modal-icon: #60ae63;
$arrows-input: #b6b6b6;
$guests-label: #143765;
$media-shield: #3b9c2b;