@import '_variables';
@import '_navigation';
@import '_responsive-tabs';

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: $white;
}
.container {
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
}
.container-wide {
  width: 100%;
  padding: {
    left: 0;
    right: 0;
  }
}
.container-image {
  margin: {
    top: -2vw;
    left: 0;
    right: 0;
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $white;
  transition: top 0.2s ease-in-out;
}
.nav-up {
  top: -120px;
}
.img-header {
  width: 100%;
  height: 8vw;
  text-align: center;
  background: url('../img/pattern.svg') no-repeat;
    h1 {
      padding-top: 2vw;
      font-size: 1.4rem;
      color: $title;
    }
}
.filter-list {
  li {
    float: left;
    margin-right: 30px;
    list-style: none;
      .logo {
        display: block;
        width: 100px;
        height: 34px;
        margin: {
          left: 0;
          top: -4px;
        }
        background: url('../img/my-linker.png') no-repeat;
        background-size: 100%;
      }
      .filter-icon {
        float: left;
        height: 31px;
        margin-right: 5px;
      }
      a {
        display: inline-block;
        padding-top: 7px;
        text-decoration: none;
        color: $nav-icon;
      }
      .mark { 
        width: 22px;
        background: url('../img/mark.png') no-repeat;;
      }
      .magnifier {
        width: 31px;
        background: url('../img/magnifier.png') no-repeat;;
      }
  }
}
.container-tags {
  margin-top: 20vw;
}

.tags {
  margin-top: 20px;
  margin-bottom: 40px;
    li {
      float: left;
      padding-right: 7px;
      list-style: none;
      font-size: 13px;
      .fa-times {
          font-size: 10px;
          color: $tags-icon;
        }
    }
}
.appartements-list {
  li {
    //display: inline-block;
    margin-bottom: 0;
    list-style: none;
      img {
        float: left;
        margin: {
          top: 10px;
        }
        padding: {
          right: 10px;
        }
      }
      ul {
        .appartement-address {
          margin-top: 20px;
        }
      }
  }
}
.appartment-description {
  overflow: hidden;
  list-style: none;
}